api = "0.7"

[buildpack]
  description = "A buildpack for installing the approriate Bundler version"
  homepage = "https://github.com/paketo-buildpacks/bundler"
  id = "paketo-buildpacks/bundler"
  keywords = ["ruby", "bundler"]
  name = "Paketo Buildpack for Bundler"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/bundler/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    bundler = "2.x.x"

  [[metadata.dependencies]]
    checksum = "sha256:b45fb7991c02ad891aa6461ed12e902f4cba70310cb77cd57d7ec358c8720271"
    cpe = "cpe:2.3:a:bundler:bundler:1.17.3:*:*:*:*:ruby:*:*"
    id = "bundler"
    licenses = ["MIT"]
    name = "bundler"
    purl = "pkg:generic/bundler@1.17.3?checksum=bc4bf75b548b27451aa9f443b18c46a739dd22ad79f7a5f90b485376a67dc352&download_url=https://rubygems.org/downloads/bundler-1.17.3.gem"
    source = "https://rubygems.org/downloads/bundler-1.17.3.gem"
    source-checksum = "sha256:bc4bf75b548b27451aa9f443b18c46a739dd22ad79f7a5f90b485376a67dc352"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 2
    uri = "https://artifacts.paketo.io/bundler/bundler-ubuntu-1.17.3.tgz"
    version = "1.17.3"

  [[metadata.dependencies]]
    checksum = "sha256:cff4e71215de74bde5d5a3995c4a21950b3c01a5bf1e9e550e6c87fa1ad324a9"
    cpe = "cpe:2.3:a:bundler:bundler:2.4.1:*:*:*:*:ruby:*:*"
    id = "bundler"
    licenses = ["MIT"]
    name = "bundler"
    purl = "pkg:generic/bundler@2.4.1?checksum=a6eb7847f55ad87e288eec3660870bef82ffb8a5c5f1b59dee5598f03bafb827&download_url=https://rubygems.org/downloads/bundler-2.4.1.gem"
    source = "https://rubygems.org/downloads/bundler-2.4.1.gem"
    source-checksum = "sha256:a6eb7847f55ad87e288eec3660870bef82ffb8a5c5f1b59dee5598f03bafb827"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 2
    uri = "https://artifacts.paketo.io/bundler/bundler-ubuntu-cff4e712-2.4.1.tgz"
    version = "2.4.1"

  [[metadata.dependencies]]
    checksum = "sha256:14c35ab0095a3ec8a2b9ef0f79798e67cbdf2f4098d418af19acebbb88983174"
    cpe = "cpe:2.3:a:bundler:bundler:2.4.2:*:*:*:*:ruby:*:*"
    id = "bundler"
    licenses = ["MIT"]
    name = "bundler"
    purl = "pkg:generic/bundler@2.4.2?checksum=99850ec40587ee1bfb2a7e76d4e548f0fcb3a0edd3e8b18f263031034edbb91f&download_url=https://rubygems.org/downloads/bundler-2.4.2.gem"
    source = "https://rubygems.org/downloads/bundler-2.4.2.gem"
    source-checksum = "sha256:99850ec40587ee1bfb2a7e76d4e548f0fcb3a0edd3e8b18f263031034edbb91f"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 2
    uri = "https://artifacts.paketo.io/bundler/bundler-ubuntu-14c35ab0-2.4.2.tgz"
    version = "2.4.2"

  [[metadata.dependency-constraints]]
    constraint = "1.*.*"
    id = "bundler"
    patches = 1

  [[metadata.dependency-constraints]]
    constraint = "2.*.*"
    id = "bundler"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
